<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="rzk__product__top">
    <div class="departments-wrapper">
      <ul class="departments-list">
        <li>
          <img src="img/house.svg" width="16px" height="16px" alt="">
        </li>
        <li>
          <img src="img/arrow-right.svg" width="10px" height="10px" alt="">
          <a href="#">
            <span>Алкогольні напої та продукти харчування</span>
          </a>
        </li>
        <li>
          <img src="img/arrow-right.svg" width="10px" height="10px" alt="">
          <a href="#">
            <span>Харчові продукти</span>
          </a>
        </li>
        <li>
          <img src="img/arrow-right.svg" width="10px" height="10px" alt="">
          <a href="#">
            <span>Молочні продукти</span>
          </a>
        </li>
        <li>
          <img src="img/arrow-right.svg" width="10px" height="10px" alt="">
          <a href="#">
            <span>Згущене молоко</span>
          </a>
        </li>
        <li>
          <img src="img/arrow-right.svg" width="10px" height="10px" alt="">
          <a href="#">
            <span><%= product.title %></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="product__title">
      <h1><%= product.title %></h1>
    </div>
    <div class="product__rating">
      <div class="product__rating-stars">
        <img src="img/star.svg" width="17px" height="17px" alt="">
        <img src="img/star.svg" width="17px" height="17px" alt="">
        <img src="img/star.svg" width="17px" height="17px" alt="">
        <img src="img/star.svg" width="17px" height="17px" alt="">
        <img src="img/star.svg" width="17px" height="17px" alt="">
        <a href="#">Залишити відгук</a>
      </div>
      <div class="product__rating-code">
       <span>Код: </span> <span><%= product.code %></span>
      </div>
    </div>
  </div>
  <div class="rzk__product__navbar">
    <ul class="product-tabs">
      <li>
        <a href="#">
          <span>Усе про товар</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Характеристики</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Залишити відгук</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Питання</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Фото</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Купують разом</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="rzk__product__tab-main">
    <div class="product-about-top">
      <div class="product-about-top__left">
        <!-- <img src="img/products/cocos.png" alt=""> -->
        <%= img_tag(encodeURI(product.image)) %> 
      </div>
      <div class="product-about-top__right">
        <div class="product-purchase">
            <span><%= product.price %>₴</span>
            <span>Є в наявності</span>
          <button class="product-purchase__button">
            <img src="img/basket.svg" width="20px" alt="">
           <span>Купити</span> 
          </button>
          <img src="img/compare.svg" width="24px" height="24px" alt="">
          <img src="img/heart.svg" width="24px" height="24px" alt="">
          <span>772</span>
        </div>
        <div class="product-before-date">
          <img src="img/attention.svg" width="24px" height="24px" alt="">
          <span>Термін придатності до 19.06.2023</span> 
        </div>
        <div class="product-seller">
          <span>Продавець: Rozetka</span> 
          <img src="img/logo.svg" width="120x" height="20px" alt="">
        </div>
        <div class="product-delivery">
          <span>Доаставка в:</span> <span>Одесу</span>
          <div class="product-delivery__type">
            <img src="img/np.svg" width="120x" height="20px" alt="">
            <span>Самовивіз з відділень поштових операторів</span> 
            <span>Доставка кур'єром</span>
            <img src="img/box.svg" width="120x" height="20px" alt="">
          </div>
          <div class="product-delivery__time">
            <span>Відправимо 27 квітня</span> 
          </div>
        </div>
        <div class="product-payment">
          <img src="img/wallet.svg" width="24px" height="24px" alt=""> 
          <p> <strong>Оплата.</strong> Оплата під час отримання товару, Картою онлайн, Google Pay, -5% знижки при оплаті від 500 грн карткою Mastercard Універсальна/Універсальна Gold від ПриватБанк, Безготівковими для юридичних осіб, Безготівковий для фізичних осіб, Apple Pay, Visa</p>
        </div>
        <div class="product-guarantee">
          <img src="img/warranty.svg" width="24px" height="24px" alt="">
          <p> <strong>Гарантія.</strong> Законом про захист прав споживачів не передбачено повернення цього товару належної якості. </p> 
        </div>
      </div>
    </div>
    <div class="product-about-bottom">  
     <div class="product-about-bottom__left">
       <h3>Опис</h3>
       <p>You will love this milk from the first spoon! Condensed coconut milk! It even sounds delicious! Perfect creamy texture, delicate, without grains. Made with coconut milk and cane sugar. Does not contain lactose, preservatives and soy, thick, viscous. It can be used as a ready-made cream for cakes, pastries, as well as pour over pancakes, cheesecakes, add to tea and coffee.</p>
       <h3>Характеристики</h3>
       <ul class="characteristics">
        <li>
          <span>
            Вага <%= product.weight %>г
          </span>
        </li>
        <li>
          <span>
            Особливості  <%= product.peculiarities %>
          </span>
        </li>
        <li>
          <span>
            Упаковка <%= product.package %>
          </span>
        </li>
        <li>
          <span>
            Жирність <%= product.fatContent %>
          </span>
        </li>
        <li>
          <span>
            Тип <%= product.type %>
          </span>
        </li>
        <li>
          <span>
            Кількість в упаковці, шт. <%= product.amount %>
          </span>
        </li>
        <li>
          <span>
            Термін зберігання <%= product.beforeDate %> месяца
          </span>
        </li>
        <li>
          <span>
            Харчова та енергетична цінність <%= product.calories %> кДж
          </span>
        </li>
        <li>
          <span>
            Країна реєстрації бренду <%= product.country %>
          </span>
        </li>
        <li>
          <span>
            Країна-виробник <%= product.country %>
          </span>
        </li>
       </ul>
     </div> 
     <div class="product-about-bottom__right">
       <div class="product-about-bottom__left-title">
         <h3>Додати відгук до товару</h3>
       </div>
       <div class="product-about-bottom__left-form">
        <img src="img/star.svg" width="40px" height="40px" alt="">
        <img src="img/star.svg" width="40px" height="40px" alt="">
        <img src="img/star.svg" width="40px" height="40px" alt="">
        <img src="img/star.svg" width="40px" height="40px" alt="">
        <img src="img/star.svg" width="40px" height="40px" alt="">
        <ul class="stat-rating">
          <li class="stat-rating__item">Поганий</li>
          <li class="stat-rating__item">Так собі</li>
          <li class="stat-rating__item">Нормальний</li>
          <li class="stat-rating__item">Добрий</li>
          <li class="stat-rating__item">Чудовий</li>
        </ul>
          <span>Переваги</span>
          <input type="text">
          <span>Недолiки</span>
          <input type="text">
          <span>Коментар</span>
          <input type="text">
          <div class="add-video">
            <span>Посилання на відео з Youtube</span> 
            <input type="text">
            <button class="add-video__button"><span>Додайте відео</span></button>
          </div>
          <div class="add-photos">
            <span>Додати фотографії</span> 
            <p>Перетягніть файли сюди чи натисніть на кнопку. Додавайте до 10 зображень у форматі .jpg, .gif, .png, розміром файлу до 5 МБ</p>
            <input type="text">
            <button class="add-photos__button"><span>Вибрати файли</span></button>
          </div>
          <button class="log-in__button">
           <span>Увійти в особистий кабінет</span> 
          </button>
          <p>Для того щоб опублікувати відгук необхідно увійти в особистий кабінет</p>
          <br>
          <p>Щоб ваш відгук або коментар пройшов модерацію і був опублікований, ознайомтеся, будь ласка, з нашими правилами.</p>
       </div>
     </div> 
    </div>
    </div>
</body>
</html>